################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/dot_net_startup_auth_postgresql/FileContentIndex/5c9505d6-cce1-4a3b-aba2-d25a124f8eda.vsidx
/.vs/slnx.sqlite
/.vs/dot_net_startup_auth_postgresql/FileContentIndex/df1f5a6e-28d2-4942-8e16-750f0e3e73d4.vsidx
/.vs/dot_net_startup_auth_postgresql/FileContentIndex
